<!DOCTYPE html>
<html>
<head>
	<title>DEMO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script data-main="app/main" src="app/lib/require.js"></script>
</head>
<body ng-controller="MainCtrl">
	<h2>DEMO NEW SCROLL BAR COMP. FOR WORKBENCH</h2>
	<!--<q-scroll data="">skdjfhdkj</q-scroll>-->
	<div q-scroll="countries" style="height:400px;width:400px; border:1px dashed #000;">
		<!--<ul>
			<li ng-repeat="country in countries">{{country.capital}} | {{country.demonym}}</li>
		</ul>-->
		<div ng-repeat="country in countries">{{country.capital}} | {{country.demonym}}</div>		
	</div>
</body>
</html>