.qw-scroll-resizable{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
.qw-scroll-cnt{
	width: 100%; height: 100%;
}
.qw-scroll-scrlb-cnt{
	width:12px;
	right:0px;
	top:0px;
	height:100%;
	position: absolute;
	transition: background 0.3 ease-in-out;
	border-radius:6px;
}
.qw-scroll-cnt ul{
	margin-top:0px;
}
.qw-scroll-scrlb{
	position:absolute;
	cursor:default;
	border-radius:3px;	
	width:6px;
	background: rgba(0,0,0,0.1);
	/*margin: 3px;*/
	right: 3px;
	top:3px;
}