<!DOCTYPE html>
<html>
<head>
	<title>DEMO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<script data-main="app/main" src="app/lib/require.js"></script>
	<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
	<style>
		pre{
			width:45%;
			float:left;
		}
		textarea{
			padding:.5em;
		}
		.toolbar fieldset{
			display: inline-block;
			vertical-align: top;
		}
	</style>
</head>
<body ng-controller="MainCtrl">
	<h1>Regular expression test</h1>
	<fieldset>
		<legend>Example from Erik</legend>
		<div class="toolbar">
			<!--<div><button name="btn_run" ng-click="run()">Run Test</button></div>-->			
			<fieldset>
				<legend>Apps</legend>
				<button name="btn_findApps" ng-click="findApps()">Find Apps</button><br/>
				<input type="text" name="appName" placeholder="app name || app var" value=""/><br/>
				<button name="btn_addApp" ng-click="addApp($event)">Add App</button><br/>
				<button name="btn_findAppByVar" ng-click="findAppByVar($event)">Find App by Var</button><br/>
				<button name="btn_findAppById" ng-click="findAppById($event)">Find App by Id</button><br/>
				<button name="btn_findAppMethods" ng-click="findAppMethods($event)">Find App Methods</button>
			</fieldset>
			<fieldset>
				<legend>Visualizations</legend>
				<input type="text" name="appVar" placeholder="app var" class="app" value=""/><br/>
				<button name="btn_addVisualization" ng-click="addVisualization($event)">Add visualization</button><br/>
				<input type="text" name="visId" placeholder="visualization Id" class="vis" value=""/><br/>
				<button name="btn_delVisualization" ng-click="delVisualization($event)">Del visualization</button><br/>
				<button name="btn_getVisualization" ng-click="getVisualization($event)">Gel visualization</button><br/>
			</fieldset>
			<fieldset>
				<legend>Cubes and Lists</legend>
				<input type="text" name="appVar" placeholder="app var" class="app" value=""/><br/>
				<button name="btn_addCube" ng-click="addCube($event)">Add cube</button><br/>				
				<button name="btn_addList" ng-click="addList($event)">Add list</button><br/>
			</fieldset>
		</div>
	<pre class="javascript">
		<textarea class="js" id="the_code" style="width:600px; height:400px;">//var app = qlik.openApp("Helpdesk Management.qvf", config);
var appId = 'xx';
var app = qlik.openApp(appId, config);
app.getObject(document.getElementById("CH01"), "phtJg");
app.getSnapshot(document.getElementById("CH02"), "xpjj");
app.createList( {qDef: {qFieldDefs: ["Priority"]}, qFrequencyMode: "V",
			qInitialDataFetch: [{qHeight: 20,qWidth: 1}]},prio);
app.createList( {qDef: {qFieldDefs: ["Case Owner Group"]}, qFrequencyMode: "V",
			qInitialDataFetch: [{qHeight: 20,qWidth: 1}]},caseOwner);
				
app.getObject('test',"test2").then(function(res){
	console.log('res');
});
		
var app2 = qlik.openApp('Helpdesk Management 2.qvf', config);
app2.getSomethingElse('asas');
app2.setSomethingElse('asas');
        </textarea>
	</pre>
	<pre>
		<code id="the_res" class="js">
			
		</code>
	</pre>
	
	</fieldset>
	<fieldset>
		<legend>The result</legend>
		
	</fieldset>
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
		var mashup = [];
		
		var txt = document.getElementById('the_code').innerHTML;
		var getOpenAppStrings=function(txt){
			var regExp = /[^\/\/^<!--]var\s+([a-zA-z0-9]+)\s*\=\s*qlik\.openApp\([^\)]*\)/g;
			return txt.match(regExp);
		};
		var getParamsInStringFn = function(text){
			var regExp1 = /\(([^)]+)\)/g;
			return regExp1.exec(text)[1].split(',');
		};
		var findAppId = function(string){
			var appId = getParamsInStringFn(string)[0];
			var regExp = /('|")([^('|")]*)('|")/;
			var res = appId.match(regExp);
			if(res){
				return res[2];
			}else{
				return false;
			}
		};
		var findAppVar = function(string){//<- ToDo: correct var exclusion
			var regExp = /^var\s([0-9a-zA-Z_$]*)/i;			
			return string.match(regExp)[1];
		};
		var getMethod = function(string){
			var method = {};
			var regExp = /\.([^\(]*)/i; //getting method name
			method['name'] = string.match(regExp)[0];
			var regExp = /\(([\s\S]+?)((\)\;)|(\)\.))/g;
			var paramsString = string.match(regExp)[0];			
			var params=[];
			if(paramsString){
				paramsString= paramsString.substring(1, paramsString.length-2);// removing parantheses
				var regExpParams = /(\{[\S\s]*\})/g;
				var obj = paramsString.match(regExpParams);
				if(obj){// we may have an object
					try{
						params.push(obj[0]);
						paramsString = paramsString.replace(obj,"");
						var otherParams = paramsString.split(',');
						for(var p=0; p<otherParams.length; p++){
							if(otherParams[p].trim()!==''){
								otherParams[p]=otherParams[p].replace(/("|')/g,'');
								params.push(otherParams[p]);
							}
						} 
					}catch(e){console.log(e);}
				}else{
					params=paramsString.split(',');
					//remove quotes from simple strings
					for(var k=0; k<params.length; k++){
						params[k]=params[k].replace(/("|')/g,'');
					}
				};
				method['params'] = params;
			}
			return method;
		};
		var getAppMethodsStrings = function(appVar,string){
			if(appVar){
				var regExp = new RegExp('[^\\/\\/^<!--]('+appVar+'\\.(?!openApp)[\\S\\s]+?((\\)\\;)|(\\)\\.)))','g');
				var res = string.match(regExp);
				if(res){
					for(var i=0 ; i<res.length; i++){
						res[i]=res[i].trim();
					}
					return res;
				}else{
					return [];
				}				
			}else{
				return [];
			}
		};
		/*var openAppStringsArr = getOpenAppStrings(txt);
		//console.log(openAppStringsArr.length);
		for(var i=0; i< openAppStringsArr.length; i++){			
			var app = {
				appId : findAppId(openAppStringsArr[i].trim()),
				'var': findAppVar(openAppStringsArr[i].trim()),
				methods : []
			};
			var appMethodsStrings = getAppMethodsStrings(app.var,txt);			
			for(var j=0; j<appMethodsStrings.length; j++){
				app.methods.push(getMethod(appMethodsStrings[j]));
			}
			mashup.push(app);			
		}*/
		//console.log('mashup',mashup);
		//document.getElementById('the_res').innerHTML='		var mashup = '+JSON.stringify(mashup,null,'\t')+';';
		var run = function(){
			mashup = [];
			txt = document.getElementById('the_code').innerHTML;
			var openAppStringsArr = getOpenAppStrings(txt);
			//console.log(openAppStringsArr);
			for(var i=0; i< openAppStringsArr.length; i++){			
				var app = {
					appId : findAppId(openAppStringsArr[i].trim()),
					'var': findAppVar(openAppStringsArr[i].trim()),
					methods : []
				};
				var appMethodsStrings = getAppMethodsStrings(app.var,txt);			
				for(var j=0; j<appMethodsStrings.length; j++){
					app.methods.push(getMethod(appMethodsStrings[j]));
				}
				mashup.push(app);
				document.getElementById('the_res').innerHTML='		var mashup = '+JSON.stringify(mashup,null,'\t')+';';
			}
		}
	</script>
</body>
</html>